{% extends 'base.html' %}
{% load static %}

{% block contenido %}




<main>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>"Un emprendedor debe explorar, y esto es el espíritu emprendedor en su máxima expresión. </h1>
                    <h2 class="subheading">Los desafíos lucen mucho más pequeños desde la perspectiva de la perseverancia y la creatividad."</h2>
                    <span class="meta">
                        Publicado por
                        <a href="#!">Emprender Chaco</a>
                        en Agosto 3, 2023.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="video-container">
        <iframe width="400px" height="400px" src="{% static 'img/Presentacion.webm' %}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</main>
{% endblock %}



