{% extends 'base.html' %}

{% block contenido %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ noticia.imagen.url }}" width="300">
                    </div>
                    <div class="col-md-6">
                        <h4>{{ noticia.categoria }}</h4>
                        <h4>TITULO: {{ noticia.titulo }}</h4>
                        <h4>FECHA: {{ noticia.creado }}</h4>
                        <h4>AUTOR: {{ noticia.autor }}</h4>
                        <p>CONTENIDO <br>{{ noticia.contenido }}</p>
                        <hr>
                    </div>
                </div>
                {% if user.is_staff %}
                    <a href="{% url 'noticias:borrar_noticia' noticia.pk %}" class="btn btn-danger">Borrar</a>
                    <a href="{% url 'noticias:modificar_noticia' noticia.pk %}" class="btn btn-success">Modificar</a>
                {% endif %}
            </div>
        </div>
        <hr>
        {% if user.is_authenticated or user.is_staff %}
            <h4>COMENTARIOS</h4>
            <div class="row" style="margin-bottom: 200px;">
                <div class="col-md-12">
                    {% if user.is_staff or user.is_authenticated %}
                        <div class="card bg-light">
                            <div class="card-body">
                                <form method="POST" action="{% url 'comentarios:agregar_comentarios' noticia.pk %}">
                                    {% csrf_token %}
                                    <textarea type="text" name="comentario" class="form-control" rows="3" placeholder="Déjanos un comentario."></textarea>
                                    <input type="submit" class="btn btn-primary mt-2" value="Comentar">
                                </form>
                            </div>
                        </div>
                        {% for c in noticia.MisComentarios %}
                            <div class="card bg-light mt-3">
                                <div class="card-body">


                                  


                                  <div class="flex-shrink-0"><img class="rounded-circle src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="...">
                                    <div class="fw-bold">{{ c.creado }}</div>
                                    <div class="fw-bold">{{ c.usuario }}</div>
                                    <p>{{ c.texto }}</p>
                                  </div>






                                    {% if user.is_staff or user == c.usuario %}
                                        <a href="{% url 'comentarios:borrar_comentario' c.pk %}" class="btn btn-danger">Borrar</a>
                                        <a href="{% url 'comentarios:modificar_comentario' c.pk %}" class="btn btn-success">Modificar</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="card bg-light">
                            <div class="card-body">
                                <p class="card-text">Solo el personal puede agregar comentarios.</p>
                                <p class="card-text">Debes <a href="{% url 'login' %}">Iniciar sesión</a> para agregar comentarios.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock contenido %}
