{% extends 'base.html' %}

{% block contenido %}

<main role="main" class="container">
    <div class="row mt-3">
        <div class="col-md-8 mx-auto mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Confirmar eliminación</h3>
                    <p class="card-text">¿Estás seguro de que deseas eliminar: "{{ object }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-4">
                            <input type="submit" class="btn btn-danger" value="CONFIRMAR">
                            <a href="{% url 'noticias:listar_emprendimientos' %}" class="btn btn-secondary">CANCELAR</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock contenido %}
